language: php

sudo: true

php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm

env:
  global:
    - DRIVER=pdo
    - SPHINXSEARCH_BUILD=rel22

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

before_install:
  - mkdir $HOME/sphinx
  - pushd $HOME/sphinx
  - wget --quiet http://ppa.launchpad.net/builds/sphinxsearch-${SPHINXSEARCH_BUILD}/ubuntu/dists/`lsb_release -cs`/main/binary-amd64/Packages.gz
  - gzip -d Packages.gz
  - SPHINX_DEB=`grep -m1 Filename Packages | cut -f2 -d' '`
  - wget --quiet -O sphinxsearch.deb http://ppa.launchpad.net/builds/sphinxsearch-${SPHINXSEARCH_BUILD}/ubuntu/${SPHINX_DEB}
  - dpkg -x sphinxsearch.deb .
  - popd

install:
  - composer install --prefer-dist
  - $HOME/sphinx/usr/bin/searchd -c tests/fixtures/sphinx.conf

script:
  - phpunit --coverage-text

notifications:
  email: false
